# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Environment
.env
.env.local
*.env

# Node / React
node_modules/
dashboard/build/
dashboard/dist/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

#Agent
agent/config.yaml